In [1]:
import cobra

In [2]:
from cobra import Model,Reaction,Metabolite

In [3]:
model=Model('example')

In [4]:
###### v1 : X=====> Y ###################################

v1=Reaction('v1')
v1.name='V1'
v1.lower_bound=0
v1.upper_bound=1000

In [5]:
###### v2 : Y=====> Z ###################################


v2=Reaction('v2')
v2.name='V2'
v2.lower_bound=0
v2.upper_bound=1000

In [6]:
###### v0 : =====> X ###################################

v0=Reaction('v0')
v0.name='V0'
v0.lower_bound=1
v0.upper_bound=1

In [7]:
###### M : Z=====>  ###################################


M=Reaction('M')
M.name='M'
M.lower_bound=0
M.upper_bound=1000

In [8]:
###### ATP_R : X=====> ATP ###################################

ATP_R=Reaction('ATP_R')
ATP_R.name='ATP_R'
ATP_R.lower_bound=0
ATP_R.upper_bound=1000

In [9]:
###### V3 : ATP=====>  ###################################

v3=Reaction('v3')
ATP_R.name='v3'
ATP_R.lower_bound=.7
ATP_R.upper_bound=.7
X= Metabolite(
    'A',compartment='c')
Y=Metabolite(
    'B',compartment='c')
Z= Metabolite(
    'C',compartment='c')
ATP= Metabolite(
    'ATP',compartment='c')

In [10]:
###### Add metabolites in reaction V1 ###################################


v1.add_metabolites({X:-1,Y:1})

In [11]:
###### Add metabolites in reaction V2 ###################################

v2.add_metabolites({Y:-1,Z:1})

In [12]:
###### Add metabolites in reaction V0 ###################################

v0.add_metabolites({X:1})

In [13]:
###### Add metabolites in reaction M ###################################

M.add_metabolites({Z:-1})

In [14]:
###### Add metabolites in reaction ATP_R ###################################

ATP_R.add_metabolites({X:-1,ATP:1})

In [15]:
###### Add metabolites in reaction V3 ###################################

v3.add_metabolites({ATP:-1})

In [16]:
###### Add reactions in model  ###################################

model.add_reactions([v0,v1,ATP_R,v2,v3,M])

In [17]:
###### Put M as a objective function  ###################################

model.objective = 'M'
model.optimize()

In [18]:
model.summary()